<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/createForm.css">
    <title>สร้างคำร้อง</title>
</head>
<body>
    <div class="nav_box">
        <div class="logo">
            <img src="/public/Assets/Emblem_of_Thammasat_University.svg.png" alt="ThammasatLogo">
        </div>
        <nav class="navBar">
            <div class="content">
                <div class="navi">
                    <a href="/views/homepage.html">หน้าหลัก</a>
                    <a href="/views/createForm.html">สร้างคำร้อง</a>
                    <a href="/views/Draft.html">แบบร่าง</a>
                </div>

                <div class="login">
                    <a href="/views/index.html">Logout</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="Form">
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องจดทะเบียนล่าช้า
            </p>

            <div class="buttons">
                <button class="build" id="addSubject">สร้างคำร้อง</button>
            </div>
        </div>
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องถอนรายวิชา
            </p>

            <div class="buttons">
                <button class="build" id="withDraw">สร้างคำร้อง</button>
            </div>
        </div>
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องขอลาออก
            </p>

            <div class="buttons">
                <button class="build" id="resign">สร้างคำร้อง</button>
            </div>
        </div>
        <div class="formContent">
            <p class="formName">
                เขียนคำร้องจดทะเบียนข้ามโครงการ
            </p>
            <div class="buttons">
                <button class="build" id="crossProgram">สร้างคำร้อง</button>
            </div>
        </div>
    </div>

    <script src="/public/createForm.js"></script>
</body>
</html>