<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/Draft.css">
    <title>แบบร่าง</title>
</head>
<body>
    <div class="nav_box">
        <div class="logo">
            <img src="/public/Assets/Emblem_of_Thammasat_University.svg.png" alt="ThammasatLogo">
        </div>
        <nav class="navBar">
            <div class="content">
                <div class="navi">
                    <a href="#">หน้าหลัก</a>
                    <a href="/views/createForm.html">สร้างคำร้อง</a>
                    <a href="/views/Draft.html">แบบร่าง</a>
                </div>

                <div class="login">
                    <a href="#">Logout</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="draftContent">
        <div class="topic">
            <p>แบบร่าง</p>
        </div>

        <div class="draftForm" id="draftForm">
            <p>ไม่พบข้อมูล...</p>
        </div>
    </div>

    <script src="/public/Draft.js"></script>
   
</body>
</html>