<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/homepage.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../public/Assets/Emblem_of_Thammasat_University.svg.png">
        </div>

        <div class="nav-links">
            <div class="links-logout">
                <ul class="links">
                    <li><a href="#">หน้าหลัก</a></li>
                    <li><a href="#">สร้างคำร้อง</a></li>
                    <li><a href="#">เเบบร่าง</a></li>
                </ul>
    
                <button class="logout">Logout</button>
            </div>
            <div class="line"></div>
        </div>
    </div>
</body>
</html>