<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/homepage.css">
    <title>Document</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="../public/Assets/Emblem_of_Thammasat_University.svg.png">
        </div>

        <div class="nav-links">
            <ul class="links">
                <li>หน้าหลัก</li>
                <li>สร้างคำร้อง</li>
                <li>เเบบร่าง</li>
            </ul>

            <button class="logout">Logout</button>
        </div>
    </div>
</body>
</html>