@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Noto Sans Thai", sans-serif;
}

:root{
    --normalFont: 30px;
    --smallFont: 18px;
}

.nav-bar{
    background: linear-gradient(to bottom, #f9c1c1, white);
    display: flex;
    gap: 80px;
    padding: 30px 100px;
    align-items: center;
}

.nav-links{
    width: 100%;
    height: 70px;  
    display: flex;
    flex-direction: column; 
}

.line{
    background-color: #000;
    height: 0.5px;
    width: 104%;
}

.links-logout{
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

ul.links{
    display: flex;
    gap: 90px;
    font-size: var(--normalFont);
    font-weight: light;
}

ul.links a{
    color: #2E2B41;
}

button.logout{
    border: none;
    background-color: transparent;
    font-size: var(--smallFont);
    cursor: pointer;
}

.logo img{
    height: 150px;
}

.tracker{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traker-content{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.approve-tracker{
    display: flex;
    flex-direction: column;
}

.tracker-title{
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #000;
}

button.dropdown-icon{
    border: none;
    background-color: transparent;
    font-size: var(--normalFont);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tracker-title p{
    font-size: var(--normalFont);
}

.approve-status-color{
    color: forestgreen;
}

.pending-status-color{
    color: darkgray;
}

.reject-status-color{
    color: crimson;
}

.approve-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 70%;
}

.approve-status p{
    font-size: var(--smallFont);
}

.approve-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #B7DBB5;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.pending-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 70%;
}

.pending-status p{
    font-size: var(--smallFont);
}

.pending-btns .edit-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-right: 5px;
    cursor: pointer;
}

.pending-btns .cancel-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #DBB5B5;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    cursor: pointer;
}

.reject-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 70%;
}

.reject-status p{
    font-size: var(--smallFont);
}

.reject-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #DBB5B5;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}