@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Thai:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body background gradient */
body {
    background: linear-gradient(to bottom, rgba(230, 61, 61,0.3), #FFFFFF 20%);
    min-height: 100vh;
    font-family: "Noto Sans Thai";
    /* background-color: brown; */
}
.nav_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 30px 10px 30px;
}

.logo{
    margin: 15px 0 0 15px;
}
.navBar{  
    border-bottom: 1px solid black;
}

.logo img{
    width: 118px;
    height: 118px;
}

.content{
    margin:0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    /* padding-bottom:; */
}
.navi{
    margin: 0 63rem 0 0;
}
.navi a{
    color : #000;
    margin: 0 25px;
    text-decoration: none;
}

.Logout a{
    color : #000;
    font-size: 30px;
    padding : 0 30px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    /* font-weight: 400; */
    text-decoration: none;
    height: 150px;
}

.tracker{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.traker-content{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.approve-tracker{
    display: flex;
    flex-direction: column;
}

.tracker-title{
    display: flex;
    width: fit-content;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #000;
}

button.dropdown-icon{
    border: none;
    background-color: transparent;
    font-size: var(--normalFont);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tracker-title p{
    font-size: var(--normalFont);
}

.approve-status-color{
    color: forestgreen;
}

.pending-status-color{
    color: darkgray;
}

.reject-status-color{
    color: crimson;
}

.approve-status-container{
    margin-bottom: 70px;
}

.approve-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-top: 20px;
    width: 70%;
    transition: all 0.2s ease;
}

.approve-container{
    transition: all 0.2s ease;
    height: fit-content;
}

.approve-status p{
    font-size: var(--smallFont);
}

.approve-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #B7DBB5;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.pending-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-top: 20px;
    width: 70%;
    transition: all 0.2s ease;
}

.pending-container{
    transition: all 0.2s ease;
    height: fit-content;
}

.pending-status-container{
    margin-bottom: 70px;
}

.pending-status p{
    font-size: var(--smallFont);
}

.pending-btns .edit-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-right: 5px;
    cursor: pointer;
}

.pending-btns .cancel-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #DBB5B5;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    cursor: pointer;
}

.reject-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid none;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #F0F0F0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    margin-top: 20px;
    width: 70%;
    transition: all 0.2s ease;
}

.reject-container{
    transition: all 0.2s ease;
    height: fit-content;
}

.reject-status p{
    font-size: var(--smallFont);
}

.reject-btn{
    font-size: var(--smallFont);
    width: 100px;
    padding: 3px 6px;
    border-radius: 15px;
    font-weight: 600;
    border: none;
    background-color: #DBB5B5;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.reject-status-container{
    margin-bottom: 70px;
}

.approve-no-data , .pending-no-data , .reject-no-data{
    color: #878592;
}

.hide-status{
    height: 0;
    opacity: 0;
    pointer-events: none;
}