body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0 20px;
}

.container {
    max-width: 1500px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.quarter-width,
.third-width,
.half-width {
    max-width: 100%; /* Ensures containers don't exceed their intended width */
}

/* Specific layout adjustments for rows with multiple fields */
.form-group.special-row {
    display: flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;   
    flex-wrap: nowrap; 
    width: 100%;
}

.form-group select {
    width: 100%;
}

.form-group textarea {
    height: 100px;
}

.form-group .half-width {
    width: calc(50% - 10px);
    display: inline-block;
}

.form-group .third-width {
    width: calc(33.33% - 10px);
    display: inline-block;
}

.form-group .third-width:not(:last-child) {
    margin-right: 10px;
}

.form-group .quarter-width {
    width: calc(25% - 50px);
    display: inline-block;
}

.form-group .quarter-width:not(:last-child) {
    margin-right: 10px;
}

.form-group .small-width {
    width: calc(5%);
    display: inline-block;
}

.form-group .small-width:not(:last-child) {
    margin-right: 10px;
}
.form-group .icon-input {
    position: relative;
}

.form-group .icon-input input {
    padding-left: 30px;
}

.form-group .icon-input .fa {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
.form-group .empty-column {
    width: 5%;
    display: inline-block;
}

select {
    color: #000000;
}

select:invalid {
    color: #888;
}

.large-label {
    font-size:20px; 
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2); 
}

.buttons .submit {
    background-color: #a3d4a3;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.buttons .save-draft {
    background-color: #e0e0e0;
    color: #333;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.buttons .cancel {
    background-color: #d4a3a3;
    color: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}